.calculator{
    margin: 0 auto;
    max-width: 600px;
}
.enter-block{
    width: 300px;
    height: 100px;
    border: 2px solid #CCCCCC;
    border-radius: 7px;
    padding: 10px;
    font-size: 25px;
}
.calculator-btns{
    width: 324px;
    display: flex;
    flex-wrap: wrap;
}
.calculator-btns button{
    width: 33.3333%;
    font-size: 16px;
    font-weight: bold;
}